* {
    box-sizing: border-box;
}

body{
    margin: 0;
}

.head {
    grid-area: head;
    background-color: rgb(252, 189, 73);
    font-family: monospace;
    text-align: center;
}

.menu {
    grid-area: menu;
    background-color: rgb(13, 13, 105);
    color: white;
    z-index: -1;
    text-align: center;
}

.menu::before{
    content: '';
    background: url(../image/heading.png);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size:cover cover;
    opacity: .2;
    z-index: -2;
}

.announcement{
    grid-area: announcement;
    position: sticky;
    top: 0;
    background: linear-gradient(to bottom, rgb(13, 13, 105), rgb(20, 20, 20), rgb(20, 20, 20), rgb(255, 239, 210));
    text-align: center;
    color: yellow;
    font-family: monospace;
    height: 40px;
    z-index: 2;
}

.content{
    grid-area: content;
    background-color: rgb(255, 239, 210);
    height: 100%;
    margin-bottom: 50px;
    font-size: 13px;
}

.foot{
    grid-area: foot;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    font-size: 10px;
    text-align: center;
}

.container{
    display: grid;
    grid-template-areas: 
    'head'
    'menu'
    'announcement'
    'content'
    'foot';
    /* grid-gap: 3px; */
}

.container > div {
    padding: 10px;
}

#content_list{
    margin: 0;padding: 0;
}

#content-list-items{
    margin: 0;padding: 0;
}

#content-list-items li{
    border-bottom: 1px solid #d0d1ce;
    height: 30px;
    line-height: 30px;
    padding-left: 5px;
    margin-bottom: 5px;
    list-style-type: none;
    cursor: pointer;
}

#content-list-items li a{
    text-decoration: none;
    color: black;
    display: block;
}

.social-btn-wasap{
    background-color: green;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 6px;
}

.social-btn-face{
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 6px;
}

.social-btn-insta{
    background-color: orangered;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 6px;
}

.social-btn-email{
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 6px;
}

.loader{
    font-size: 10px;
    color: green;
    visibility: hidden;
}

.loader.display{
    visibility: visible;
}

h3.content-header{
    background-color: rgb(252, 189, 73);
    color: white;
    padding: 8px;
    border-radius: 10px;
    animation: skew 2s ease-in-out 0s infinite alternate;
    position: relative;
}

h3.content-header::before {
    position: absolute;
    content: "";
    /* background-color: rgb(61, 61, 202); */
    background: linear-gradient(to right, rgb(61, 61, 202), rgb(255, 239, 210));
    width: 100%;
    height: 100%;
    border-radius: 10px;
    left: -3px;
    top: -3px;
    z-index: -1;
    animation: rangi 2s ease-in-out 0s infinite alternate;
}

@keyframes rangi {
    0%{background: linear-gradient(to right, blue, rgb(255, 239, 210));}
    100%{background: linear-gradient(to right, rgb(10, 10, 150), rgb(255, 239, 210));}
}

@keyframes skew {
    0%{transform: skew(-20deg,-2deg);}
    100%{transform: skew(-20deg,-3deg);}
}

@keyframes anPic {
    0%{transform: scale(.9);}
    20%{transform: scale(1);}
}

.swahili{
    position: absolute;
    text-align: center;
    background-color: green;
    color: white;
    top: 10px;
    right: 4px;
    width: 80px;
    border-radius: 20px;
    padding: 6px;
    font-size: 11px;
    cursor: pointer;
    animation: swahili .5s ease-in-out 0s infinite alternate;
}

@keyframes swahili {
    0%{transform: translateX(0px);}
    8%{transform: translateX(-3px);}
    16%{transform: translateX(0px);}
    24%{transform: translateX(-3px);}
    100%{transform: translateX(-3px);}
}

.list-content{
    margin-left: 20px;
    border-left: 1px dotted #d0d1ce;
    border-bottom: 1px dotted #d0d1ce;
    padding-left: 3px;
    padding-bottom: 3px;
    font-size: 10px;
    display: none;
    font-family: monospace;
}

.small-title{
    color: green;
}

@media only screen and (min-width: 600px){
    body{
        margin: 0 30%;
        background-color: rgb(160, 160, 160);
    }

    .menu::before{
        background: unset;
    }

    .foot{
        position: relative;
    }
}