.first{
    margin: auto;
    align-items: center;
    height: 100px;
    width: 300px;
    background-color: green;
    color: white;
    /* animation: scale  1s ease-in-out 0s infinite alternate; */
}

@keyframes scale {
    0%{transform: scale(1,1);}
    100%{transform: scale(5,1);}
}